<% include ../partials/head %>

<% include ../partials/menu %>

<div class="container mt-5">

  <div class="row">
    <div class="col-md-4">
      <% include left-menu %>
    </div>

    <div class="col-md-8">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Espace de gestion des véhicules</h1>

          <hr class="my-4">
          <p>
            </p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/vehicules/list" role="button">Liste des véhicules</a>
          </p>

        </div>

      </div>

    </div>

  </div>

</div>

<% include ../partials/footer %>