<% if(locals.routesStruct) { %>

<div class="list-group mb-3">

    <a href="<%= routesStruct.vehicules.add %>" class="list-group-item list-group-item-action">
        <i class="fas fa-car"></i> Ajouter une véhicule
    </a>

    <a href="<%= routesStruct.vehicules.list %>" class="list-group-item list-group-item-action">
        <i class="fas fa-list-alt"></i> Liste des véhicules
    </a>
</div>

<% } %>
