<% if(locals.routesStruct) { %>

<div class="list-group mb-3">

    <a href="<%= routesStruct.vehicules.ajout %>" class="list-group-item list-group-item-action">
        Ajouter une véhicule
    </a>

    <a href="<%= routesStruct.vehicules.lister %>" class="list-group-item list-group-item-action">
        Liste des véhicules
    </a>
</div>

<% } %>
