<div class="list-group mb-3">

    <a href="/vehicules/ajout" class="list-group-item list-group-item-action">
        Ajouter une véhicule
    </a>

    <a href="/vehicules/list" class="list-group-item list-group-item-action">
        Liste des véhicules
    </a>
</div>