<div class="list-group mb-3">

    <a href="/reservations/list-vehicules" class="list-group-item list-group-item-action">
        Liste des vehicules
    </a>

    <a href="/reservations/list-reserved" class="list-group-item list-group-item-action">
        Liste des reservations
    </a>
</div>