<div class="list-group mb-3">

    <% if(locals.userInfo) { 
        if(userInfo.role === role.admin) {    
    %>
    <a href="/reservations/list" class="list-group-item list-group-item-action">
        Liste des reservations
    </a>
    <% } else { %>


    <a href="/reservations/user/list-vehicules" class="list-group-item list-group-item-action">
        Liste des vehicules
    </a>

    <a href="/reservations/user/list-reserved" class="list-group-item list-group-item-action">
        Liste des reservations
    </a>
    <% } }%>

</div>