<% include partials/head %>

<% include partials/menu %>

<div class="container mt-5">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <% if(locals.userInfo) { %>
      <h1 class="display-4">Bienvenue <%= userInfo.nom_complet %></h1>
      <% } %>
      <p class="lead">Espace de gestion de reservation des vehicules</p>
    </div>
  </div>

</div>

<% include partials/footer %>