<% include layouts/head %>

<body>

  <div class="wrapper">

    <% include layouts/top-menu %>

    <!-- Page Content Holder -->
    <div id="content">

      <% include layouts/left-menu %>

      <div class="container">

        <h2><i class="fas fa-bell"></i> Notifications</h2>
        <div class="list-group" id="list-notifications"></div>

        <ul class="pagination mt-3">
          <li class="page-item"><a class="page-link" href="#" id="btn-previous">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#" id="pages">1</a></li>
          <li class="page-item"><a class="page-link" href="#" id="btn-next">Next</a></li>
        </ul>


      </div>

    </div>
    <!--/content-->
  </div>
  <!--/wrapper-->

  <% include layouts/footer %>