<% include ../partials/head %>

<body>

  <% include ../partials/menu %>

  <div class="container mt-5">


    <h2 class="mb-4">Profile</h2>

    <div class="row">

      <div class="col-md-4 mb-3">
        <img src="img/profile.png" alt="photo de profile" class="img-thumbnail">
      </div>


      <div class="col-md-8">
        <% if(locals.userInfo){ %>
        <form action="/profile/modifier" method="POST">


          <div class="form-group">
            <label for="nomcomplet">Nom Complet</label>
            <input type="text" class="form-control" id="nomcomplet" name="nomcomplet"
              value="<%= locals.userInfo.nom_complet %>" disabled>
          </div>


          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="<%= locals.userInfo.email %>"
              disabled>
          </div>

          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>


          <div class="form-group">
            <label for="role">Role</label>
            <input type="text" class="form-control" id="role" name="role" value="<%= locals.userInfo.role %>" disabled>
          </div>


          <button class="btn btn-success">MODIFIER</button>

        </form>

        <% } %>


        <% if(locals.msg) { %>
        <div class="alert alert-primary mt-3 mb-3" role="alert">
          <%= locals.msg %>
        </div>
        <% } %>
      </div>




    </div>


  </div>

  <% include ../partials/footer %>