<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Boudgbel Vacpa - Gestion de reservations des véhicules</title>

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" type="text/css" href="<%= staticFiles.css.bootstrap %>">

  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="/style/style.css">

  <!-- Font Awesome JS -->
  <link rel="stylesheet" type="text/css" href="<%= staticFiles.fontawesome %>">

</head>