<% if(locals.routesStruct) { %>

<div class="list-group mb-3">

    <a href="<%= routesStruct.utilisateurs.ajout %>" class="list-group-item list-group-item-action">
        Ajouter un utilisateur
    </a>

    <a href="<%= routesStruct.utilisateurs.lister %>" class="list-group-item list-group-item-action">
        Liste des utilisateurs
    </a>

</div>

<% } %>