<% if(locals.routesStruct) { %>

<div class="list-group mb-3">

    <a href="<%= routesStruct.users.add %>" class="list-group-item list-group-item-action">
        <i class="fas fa-user-plus"></i> Ajouter un utilisateur
    </a>

    <a href="<%= routesStruct.users.list %>" class="list-group-item list-group-item-action">
        <i class="fas fa-list-alt"></i> Liste des utilisateurs
    </a>

</div>

<% } %>