<div class="list-group">

    <a href="/utilisateur/ajout" class="list-group-item list-group-item-action">
        Ajouter un utilisateur
    </a>

    <a href="/utilisateur/list" class="list-group-item list-group-item-action">
        Liste des utilisateurs
    </a>
</div>